<div class ="container mt-5">
  <h1>All restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li> <!-- restaurant_path = route to show-->
    <% end %>
  </ul>
</div>
